@use '../abstracts' as *;
@use '../base' as *;

.accordion {
  background: white;
  border-radius: 1.4rem;
  padding: 2rem;
  margin-top: 9rem;
  width: 330px;
  height: 530px;

  @include media-query(large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    width: 900px;
    height: 490px;
    margin: 0;
  }

  &__top {
    @include media-query(large) {
      position: relative;
    }
  }
  //image
  &__img-container {
    transform: translateY(-20%);
    display: flex;
    justify-content: center;
    height: 100px;

    &::before {
      content: url(/images/bg-pattern-mobile.svg);
      transform: translateY(-20%);
      @include media-query(large) {
        display: none;
      }
    }
    @include media-query(large) {
      transform: none;
      justify-self: center;
      align-self: center;
      height: 400px;
      width: 400px;
     // overflow: hidden;
    }
  }
  &__image {
    position: absolute;
    display: flex;
    justify-self: center;
    align-items: center;
    transform: translateY(-120px);
    max-width: 240px;
    @include media-query(large) {
      content: url('/images/illustration-woman-online-desktop.svg');
      transform: translateX(-23%);
      justify-self: center;
      align-self: center;
      background-repeat: no-repeat;
      max-width: 400px;
      clip: rect(0px, 400px, 400px, 60px);
    }
  }
  &__image-box {
    display: none;
    @include media-query(large) {
      display: block;
      width: 150px;
      height: 150px;
      position: absolute;
      left: -100px;
      top: 170px;
    }
  }
  
  &__image-pattern {
    display: none;
    @include media-query(large) {
      display: block;
      transform: translate(-23%, -5%);
      background-repeat: no-repeat;
    }
  }
  //accordion title

  &__title {
    text-align: center;
    padding: 0 0 1.2rem 0;
    font-size: 1.8rem;
    color: $ff-primary-desaturated-blue;
    @include media-query(large) {
      text-align: left;
    }
  }
  //bottom part
  &__bottom {
    @include media-query(large) {
      padding: 2rem 5rem 0 0;
      height: 400px;
    }
    //
  }
  //container for question and answer
  &__question-answer {
    padding: 1rem 0;
    border-bottom: 1px solid $divider-grayish-blue;
  }
  //container for question
  &__question-container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 40px;
    align-items: flex-start;
    cursor: pointer;
  }
  //styles for question title
  &__question {
    font-size: 0.75rem;
    font-weight: 400;
    color: $ff-primary-desaturated-blue;
    &:hover {
      color: $ff-primary-soft-red;
    }
  }
  //small arrow on the left style
  &__arrow {
    padding-top: 0.5rem;
    justify-self: flex-end;
    transition: ease-in 0.5s;
    max-width: 10px;
  }
  //style for answer container
  &__answer-container {
    height: 0;
    overflow: hidden;
    transition: ease-in 0.5s;
    padding: 0.5rem 1rem 0 0;
    font-size: 0.75rem;
    cursor: pointer;
    color: $ff-neutral-light-gray;
  }
}

//when user click this will applied
.active h2 {
  font-weight: bold;
  color: $ff-primary-desaturated-blue;
}

.active .accordion__answer-container {
  height: 40px;
  overflow: hidden;
}
.active .accordion__arrow {
  transform: rotate(180deg);
}
