@use '../abstracts' as *;
@use '../base' as *;

body {
  width: 100%;
  min-height: 100vh;
  font-family: $font-primary;
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  color: $ff-neutral-dark-gray;
  background-image: linear-gradient($gradient-soft-violet, $gradient-soft-blue);
}

.wrapper {
  padding: 1.5rem;
}


//Footer
.attribution {
  padding-top:  5px; 

  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: rgb(221, 219, 230);
}
